#root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}
#rootSvg {
  flex: 1 0 auto;
  background-color: rgb(64,64,64);
}
.rootSvgCountry {
  fill: #000000;
  fill-opacity: 1;
}
.rootSvgLine {
  fill: none;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#rootInteractive {
  position: absolute;
  left: 0px;
  bottom: 60px;
  width: 100%;
  height: 50%;
}
#rootInteractiveWall {
  position: absolute;
  left: 0px;
  bottom: 400px;
  width: 100%;
  height: 50%;
}
#rootControls {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0px;
}
#rootControlsPrev {
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 45px solid white;
}
.rootControlsPrevAdjacent {
  margin-right: 30px;
}
#rootControlsPrevWall {
  width: 0px;
  height: 0px;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 350px solid white;
}
.rootControlsPrevWallAdjacent {
  margin-right: 200px;
}
#rootControlsNext {
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 45px solid white;
}
#rootControlsNextWall {
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 350px solid white;
}
@media screen and (min-width: 992px) {
  #rootInteractive {
    bottom: 100px;
  }
  #rootControlsPrev {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 75px solid white;
  }
  .rootControlsPrevAdjacent {
    margin-right: 50px;
  }
  #rootControlsNext {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 75px solid white;
  }
}
