html, body, :global(#frame), :global(#frame__content) {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
body {
  background-color: black;
}
:global(#frame) {
  position: relative;
  overflow: hidden;
}
:global(#frame__content) {
  position: absolute;
  left: 0px;
  top: 0px;
}
