#root {
  position: relative;
  width: 100%;
  height: 100%;
}
#rootChart {
  position: absolute;
  left: 55%;
  width: 15%;
  bottom: 0px;
  height: 60%;
}
#rootLegend {
  position: absolute;
  left: 79%;
  bottom: 0px;
  width: 15%;
  height: 60%;
}
#rootMap {
  position: absolute;
  bottom: 0px;
  left: 6%;
  height: 60%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#rootMapSvg {
  flex: 1 0 auto;
  background-color: rgb(80,80,80);
}
.rootMapSvgCountry {
  fill: #000000;
  fill-opacity: 1;
}
